<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hatfield Junior Swimming School (HJSS)</title>
        <meta name="viewport" content="width=device-width, inital-scale">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>

    <body>
        <header>
            <h1>Hatfield Junior Swimming School</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/registration">Register</a>
                <a href="/timetable">Timetable</a>
            </nav>
        </header>

        <main>
            <h1>Welcome to Hatfield Junior Swimming School</h1>
            <p>We provide swimming lessons for children aged 4-11, from grade 0 to grade 5.</p>
        </main>

        <footer>
            <p>&copy; 2025 Hatfield Junior Swimming School</p>
        </footer>
    </body>
</html>