<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hatfield Junior Swimming School (HJSS)</title>
        <meta name="viewport" content="width=device-width, inital-scale">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>

    <body>

        <header>
            <h1>Hatfield Junior Swimming School</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/timetable">Swimming Lessons</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
                
            </nav>
        </header>

        <main>
            <article>
                
            </article>
        </main>
    </body>
</html>