<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HJSS – Weekly Timetable</title>
        <meta name="viewport" content="width=device-width, inital-scale">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/registration">Register</a>
                <a href="/timetable"></a>
                <a href="/timetable/days">By days</a>
                <a href="/timetable/grades">By grade</a>
                <a href="/timetable/coaches">By Coach</a>
            </nav>
        </header>
    </body>
</html>