<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HJSS – Weekly Timetable</title>
        <meta name="viewport" content="width=device-width, inital-scale">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/registration">Register</a>
                <a href="/timetable">Timetable</a>
                <a href="/timetable/days">By day</a>
                <a href="/timetable/grades">By grade</a>
                <a href="/timetable/coaches">By Coach</a>
            </nav>
        </header>

        <main>
            <h1>Weekly Timetable</h1>
            <table border="1" cellpadding="10">
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Wednesday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                <tr>
                    <th>4-5 pm / Sat 2-3 pm</th>
                    <th>Grade 1 - Coach James</th>
                    <th>Grade 2 - Coach Albert</th>
                    <th>Grade 3 - Coach Olivia</th>
                    <th>Grade 1 - Coach Ren</th>
                </tr>
                <tr>
                    <th>5-6 pm / Sat 3-4 pm</th>
                    <th>Grade 4 - Coach Ren</th>
                    <th>Grade 5 - Coach James</th>
                    <th>Grade 2 - Coach Albert</th>
                    <th>Grade 0 - Coach Olivia</th>
                </tr>
                <tr>
                    <th>6-7 pm (Mon/Wed/Fri only)</th>
                    <th>Grade 3 - Coach Albert</th>
                    <th>Grade 4 - Coach Olivia</th>
                    <th>Grade 5 - Coach James</th>
                </tr>
            </table>
        </main>

        <footer>
            <p>&copy; 2025 Hatfield Junior Swimming School</p>
        </footer>
    </body>
</html>