<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HJSS – Weekly Timetable</title>
        <meta name="viewport" content="width=device-width, inital-scale">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>

    <body>
        
        <header>
            <nav>
                <a href="/timetable">Timetable</a>
                <a href="/timetable/days">By day</a>
                <a href="/timetable/grades">By grade</a>
                <a href="/timetable/coaches">By Coach</a>
            </nav>
        </header>

        <main>
            <h1>Timetable by Day</h1>

            <section>
                <h2>Monday</h2>
                <ul>
                    <li>4-5 pm - Grade 1 (Coach James)</li>
                    <li>5-6 pm - Grade 4 (Coach Ren)</li>
                    <li>6-7 pm - Grade 3 (Coach Albert)</li>
                </ul>
            </section>

            <section>
                <h2>Wednesday</h2>
                <ul>
                    <li>4-5 pm - Grade 2 (Coach Albert)</li>
                    <li>5-6 pm - Grade 5 (Coach James)</li>
                    <li>6-7 pm - Grade 4 (Coach Olivia)</li>
                </ul>
            </section>
                <h2>Friday</h2>
                <ul>
                    <li>4-5 pm - Grade 3 (Coach Olivia)</li>
                    <li>5-6 pm - Grade 2 (Coach Albert)</li>
                    <li>6-7 pm - Grade 5 (Coach James)</li>
                </ul>
            </section>

            <section>
                <h2>Saturday</h2>
                <ul>
                    <li>2-3 pm - Grade 1 (Coach Ren)</li>
                    <li>3-4 pm - Grade 0 (Coach Olivia)</li>
                </ul>
            </section>
        </main>
    </body>
</html>